body {
	font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
.mgdiv {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer {
	padding-bottom: 20px;
}
.table>thead>tr>th, .table>tbody>tr>td {
	text-align: center;
	vertical-align: middle;
}
.table-bordered-no-top, .table-bordered-no-top>tbody>tr>td {
	border-top: 0px solid #ddd;
}
.accepted {
	background: #99FF99;
}
.failed {
	background: #FF9999;
}
.pending {
	background: #c8d6fa;
}
.fb {
	background-color: #009900;
	color: #fff;
}
.fb .attempted {
	color: #f0f0f0;
}
/*.push-fb {
	color: #f8Bf29;
	font-size: 85%;
	text-shadow: 0 0 0.05em #000;
}*/

.single-rank {
	width: 60px;
}
.single-group {
	min-width: 60px;
}
.single-name {
	min-width: 160px;
}
.single-solved {
	width: 40px;
}
.single-time {
	width: 60px;
}
.single-prob {
	width: 80px;
}
.table>thead>tr>.single-prob {
	padding-top: 10px;
	padding-bottom: 2px;
}
.table>thead>tr>.single-prob a {
	display: block;
	/*color: white;*/
	font-weight: bold !important;
	padding: 8px 10px 16px 10px;
}
.table>thead>tr>.single-prob a:hover {
	text-decoration: none;
}

.medal-1 {
	color: #fff;
	background-color: #f8Bf29;
}
.medal-2 {
	color: #fff;
	background-color: #c0c0c0;
}
.medal-3 {
	color: #fff;
	background-color: #d69872;
}
.medal-4 {
	color: #fff;
	background-color: #a94442;
}
.balloon {
	color: #999999;
	background: #CCCCCC;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CCCCCC), to(rgba(255, 255, 255, 0.5)));
	background: -moz-linear-gradient(top, #CCCCCC, rgba(255, 255, 255, 0.5));
	background: -o-linear-gradient(top, #CCCCCC, rgba(255, 255, 255, 0.5)); 
}
