<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta http-equiv="refresh" content="600"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css?ver=0.1.3">
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <script src="static/js/jquery-1.12.4.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/initRank.js?ver=0.1.3"></script>
    <script src="static/js/jquery.timers.min.js"></script>
    <!--[if IE]>
    <script src="./static/js/html5shiv-printshiv.min.js"></script>
    <script src="./static/js/respond.min.js"></script>
    <![endif]-->
    <title>Ranklist</title>
    <script language="javascript">
        function myFunction(){
	    $("#click1").click();
        }
        document.onkeydown= function (e) {

        var theEvent = window.event || e; 
        var code = theEvent.keyCode || theEvent.which;
                     
        if (code1 == 40 || code == 13) { 
            $("#click1").click(); 
            }
        }

    </script>


</head>

<body onload="socket_init_2('{{ rid }}')" onmousedown="myFunction()">
<div class="container-fluid main-container">
    <div class="mgdiv">
        <h3>Ranklist</h3>
    </div>
    <div id="head" class="row row-background">
        <table class="table table-bordered table-s">
            <thead class="balloon">
            <tr>
                <th class="single-rank">
                    Rk.
                </th>
                <th class="single-name">
                    Name
                </th>
                <th class="single-solved">
                    Slv.
                </th>
                <th class="single-time">
                    Time
                </th>

            </tr>
            </thead>
        </table>
    </div>

    <div id="main-table">

    </div>

    <div id="footer" class="row footer text-center">
		<span>Copyright &copy; 2016-2018
			<br/>Designed by bLue and MeiK<br/></span>
    </div>
</div>

<div id="fs-photo">
    <img id="fs-default-photo" src="static/images/fs-bg.jpeg">
    <img id="fs-real-photo">
    <div class="mask">
        <div class="left-float">
            <p id="fs-info-1" class="mask-primary"></p>
            <p id="fs-info-2" class="mask-secondary"></p>
        </div>
        <div class="right-float">
            <p id="fs-medal" class="mask-primary"></p>
        </div>
    </div>
</div>

<div id="scroll-button">
    <button class="btn btn-default" type="button" data-loading-text="滚榜中..." data-url="/push" id="click1">滚榜</button>
</div>
</body>

</html>
