<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data">
        file: <input type="file" name="db"><br>
        start: <input type="text" name="start"><br>
        end: <input type="text" name="end"><br>
        name: <input type="text" name="name"><br>
        num: <input type="text" name="num"><br>
        <button type="submit">submit</button>
    </form>
    <pre>
        新建须知:
        file为sqlite3的db文件，格式为 create table status (id integer primary key autoincrement, username varchar(36), nickname varchar(36), problem varchar(36), time varchar(36), result varchar(36), read integer)
        将比赛提交状态由后向前插入db数据库中，或者直接使用<a href="/static/getStatus.py">插入脚本</a>来直接获取SDUTOJ上的某场比赛状态，其中，账号与密码需要为有查看状态权限的账号
        start为比赛开始时间，计算罚时使用
        end为封榜时间
        start与end都为Unix时间戳，请自行转换
        name为本场滚榜的名称
        num为本场比赛的题数，前端默认显示10个，还未修改
        新建滚榜之后可以通过<a href="/static/scroll_one.py">触发器</a>来进行滚榜，触发URL即为新建后返回的URL
    </pre>
</body>

</html>